*{

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
    }
    .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7 ),rgba(4,9,30,0.7 )),url(images/cybersecurity.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    }
    nav{
    
    display: flex;
    padding: 2% 6%;
    justify-content: space-between ;
    align-items: center;
    
    }
    nav img{
     width: 150px;
     
    }
    .nav-link{
        flex: 1;
        text-align: right;
    }
    .nav-link ul li {
       list-style: none;
       display: inline-block;
       padding: 8px 12px ;
       position: relative;
    
    }
    .nav-link ul li a{
    color: #fff;
    text-decoration: none; 
    font-size: 13px ;
    
    }
    .nav-link ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: orange ;
    display: block;
    margin: auto;
    transition: 0.25s;
    }
    .nav-link ul li:hover::after {
    width: 100%;
    
    
    
    }
       /*****login home page ***/
.form-box{
    width: 50%;
    max-width: 350px;
    box-shadow: 0 0 40px 20px rgba(0,0,0,0.26) ;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image:  linear-gradient(rgba(4,9,30,0.7 ),rgba(4,9,30,0.7 )),url(images/cybersecurity.jpg);
    padding: 50px 60px 70px ;
    text-align: center;
    
    }
    .form-box h1{
    font-size: 30px ;
    margin-bottom: 60px;
    color: whitesmoke;
    position: relative;
    
    }
    .form-box h1::after{
    
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: white;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
    
    }
    .input-filed{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 1s;
    overflow: hidden;
    
    
    }
    input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    
    
    
    }
    .input-filed i{
    margin-left: 15px ;
    color: #999;
    
    }
    form p{
     text-align: left;
     font-size: 13px;
     color: white;

    
    
    } 
    form p a {
    text-decoration: none;
    color: #ffffff;
    
    
    
    }
    .btn-filed{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    }
    .btn-filed button{
    flex-basis:48% ;
    background: #3c003c;
    color: #fff;
    height: 40px ;
    border-radius: 20px ;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    
    }
    .input-group{
    
    height: 280px;
    
    
    }
    .btn-filed button.disabel{
    background: #eaeaea;
    color: #555;
    
    }